
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Academic World</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="img/favicon.ico" rel="shortcut icon" />

    @*<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">*@

    @*<link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/owl.carousel.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link href="css/layout.css" rel="stylesheet" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="profile.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/site.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @RenderSection("styles", required: false)
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="site-logo">
                        <img src="img/logo.png" alt="">
                    </div>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="site-btn header-btn" asp-area="Identity" asp-page="/Account/Login">
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            Login
                        </a>


                    }
                    <nav class="main-menu">
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a asp-area="" asp-controller="CoursesDashboard" asp-action="Index">Courses</a></li>
                            <li><a href="contact.html">Contact</a></li>

                            @if ((User.Identity.IsAuthenticated && User.IsInRole("Admin")))
                            {
                                <li><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Admin</a></li>

                            }
                            @if ((User.Identity.IsAuthenticated && User.IsInRole("User")))
                            {
                                <li><a asp-area="User" asp-controller="Home" asp-action="Index">@User.Identity.Name</a></li>

                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">

                                        <button style="margin-left:750px;margin-top:-40px;" type="submit" class="nav-link btn btn-danger text-white">
                                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                            Logout
                                        </button>
                                    </form>
                                </li>
                                @*<li><a asp-area="" asp-controller="SignIn" asp-action="SignOut">LogOut</a></li>*@
                            }
                            @if ((User.Identity.IsAuthenticated && User.IsInRole("User")))
                            {
                                <li class="nav-item" id="cartA">


                                    @await Component.InvokeAsync("AcademicApplication.ViewComponents.CartList")

                                </li>


                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>



    <div class="container">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-section ">
        <div class="footer-bottom">
            <div class="footer-warp">
                <ul class="footer-menu">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                <div class="copyright">
                    Copyright &copy;
                    <script type="629acf9144c4bcae608a7051-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>


    @*<script src="js/jquery-3.2.1.min.js" type="629acf9144c4bcae608a7051-text/javascript"></script>*@
    @*<script src="js/bootstrap.min.js" type="629acf9144c4bcae608a7051-text/javascript"></script>
        <script src="js/mixitup.min.js" type="629acf9144c4bcae608a7051-text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="js/circle-progress.min.js" type="629acf9144c4bcae608a7051-text/javascript"></script>
        <script src="js/owl.carousel.min.js" type="629acf9144c4bcae608a7051-text/javascript"></script>
        <script src="js/main.js" type="629acf9144c4bcae608a7051-text/javascript"></script>*@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="629acf9144c4bcae608a7051-text/javascript"></script>
    <script type="629acf9144c4bcae608a7051-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="629acf9144c4bcae608a7051-|49" defer=""></script>


    <script>
        $(document.body).delegate(".js-Cart", "click", function (e) {
            e.preventDefault();
            var btn = $(this);
            console.log("btn is working");
            $.ajax({
                url: btn.attr('href'),
                type: 'GET',
                success: function (response) {
                    $.ajax({
                        url: '/Cart/GetCartData/',
                        type: 'GET',
                        success: function (data) {
                            $("#cartA").html(data);
                        },
                        error: function () {

                        }
                    })
                },
                error: function () {

                }


            })

        })



    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>