@model AcademicApplication.Areas.Admin.ViewModels.DashBoardCountViewModel

@{

    Layout = null;
}


<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-android-person"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">User</span>
            <span class="info-box-number">@Model.UserCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-person-add"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Roles</span>
            <span class="info-box-number">@Model.RoleCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<!-- /.col -->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua-active"><i class="ion ion-ios-book"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Subject</span>
            <span class="info-box-number">@Model.SubjectCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-folder-open"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Courses</span>
            <span class="info-box-number">@Model.CourseCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>

<!-- /.col -->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-fuchsia"><i class="ion ion-ios-book-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Topics</span>
            <span class="info-box-number">@Model.TopicCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<!-- fix for small devices only -->
<div class="clearfix visible-sm-block"></div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Cart</span>
            <span class="info-box-number">@Model.CartCount</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>



<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-maroon"><i class="ion ion-arrow-graph-down-right"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Order</span>
            <span class="info-box-number">10</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<!-- /.col -->
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="ion ion-ios-cart-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Sale</span>
            <span class="info-box-number">5</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>




<!-- /.col -->