@model AcademicApplication.Areas.Admin.ViewModels.AdminProfileViewModel

@{
    Layout = null;
}


    <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @if (Model.AvatarImage == null)
                    {

                        <img src="~/img/authors/2.jpg" style="border-radius: 50%;height:30px;width:30px;margin-top:-10px;" alt="woman avatar">
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.AvatarImage);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                        <img src='@imgsrc' class="img-circle" alt="User Image">
                        <img id="adminpicture" src='@imgsrc' alt="woman avatar">
                    }
                    
                    <span class="hidden-xs">@Model.FirstName @Model.LastName</span>
</a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    @if (Model.AvatarImage == null)
                    {

                        <img src="~/img/authors/2.jpg" style="border-radius: 50%;height:55px;width:55px;" alt="woman avatar">
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.AvatarImage);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                        <img src='@imgsrc' class="img-circle" alt="User Image">
                        <img id="adminpicture" src='@imgsrc' alt="woman avatar">
                    }
                    <p>
                        @Model.FirstName @Model.LastName - Web Developer
                        <small>@Model.Email</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a asp-area="Admin" asp-controller="AdminProfile" asp-action="Index" class="btn btn-info btn-flat">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        Profile
                        </a>
                    </div>
                    <div class="pull-right">
                       
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button style="margin-left:750px;margin-top:-40px;" type="submit" class="nav-link btn btn-danger text-white">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            Logout</button>
                        </form>
                       
                    </div>
                </li>
            </ul>
        </li>
    </ul>
