
@model IEnumerable<AcademicApplication.ViewModels.PaidCoursesViewModels>
@{
    ViewData["Title"] = "Index";
}



<link href="~/css/ShoppingCart.css" rel="stylesheet" />

<h3 style="margin-top:30px;">Paid Courses</h3>

@if (Model == null)
{
    <div class="alert alert-danger">
        Empty Data Found
    </div>
}
else
{
    <table class="table table-hover table-condensed" style="margin-top:40px;">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:50%">PaidCourseId</th>
                <th style="width:50%">Course</th>
                <th style="width:50%">Price</th>
                <th style="width:50%">Duration</th>
                <th style="width:10%">AppUser</th>
                <th style="width:10%">Action</th>
            </tr>
        </thead>
        @foreach (var Paid in Model)
        {


            <tbody>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            @*<div class="col-sm-2 hidden-xs" style="height:100px;width:300px;"><img src="~/img/courses/3.jpg" alt="..." class="img-responsive" /></div>*@
                            <div class="col-sm-10">
                                <h4 class="nomargin">@Paid.Course</h4>
                                <p>@Paid.Course</p>
                            </div>
                        </div>
                    </td>

                    <td data-th="Price">@Paid.PaidCoursesId</td>
                    <td data-th="Subtotal" class="text-center">@Paid.Course</td>
                    <td data-th="Subtotal" class="text-center">Rs:@Paid.Price</td>
                    <td data-th="Subtotal" class="text-center">@Paid.Duration Days</td>
                    <td data-th="Subtotal" class="text-center">@Paid.Appuser</td>
                    <td><a asp-area="User" asp-controller="TopicList" asp-action="Index" asp-route-id="@Paid.CourseId"  class="btn btn-success btn-block">Topics <i class="fa fa-angle-right"></i></a></td>
                    <td><a asp-area="" asp-controller="Payment" asp-action="Index" class="btn btn-success btn-block">Quizzezz <i class="fa fa-angle-right"></i></a></td>
                    <td><a asp-area="" asp-controller="Payment" asp-action="Index" class="btn btn-success btn-block">Detail <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tbody>




        }
    </table>
}
