@model IEnumerable<AcademicApplication.Models.Course>
@{
    ViewData["Title"] = "Index";
}


<section class="content-header">
    <h1>
        CoursesList
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<div class="text-center" style="margin-top:30px;margin-left:-450px">

    @Html.Partial("Pages", Model)

    @*@Html.Partial("SearchCourses", Model)*@
</div>

@await Component.InvokeAsync("AcademicApplication.Areas.Admin.ViewComponents.CoursesSearchByTitle")

@await Component.InvokeAsync("AcademicApplication.Areas.Admin.ViewComponents.CoursesSearch")

<div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
            <div class="col-sm-12">
                @if (Model == null)
                {
                    <div class="alert alert-warning">
                        Empty Data Found..
                    </div>
                }
                else
                {


                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" style="margin-top:25px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 150px;">Course Id</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">Title</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 160px;">Price</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 130px;">Subject</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 150px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model)
                            {


                                <tr role="row" class="odd">
                                    <td class="sorting_1">@course.CourseId</td>
                                    <td>@course.Title</td>
                                    <td>@course.Price</td>
                                    <td>@course.Subject.Name</td>
                                    <td style="margin-left:-100px">
                                        <a class="btn btn-warning js-update" href="#">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger js-user-delete" href="#">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-primary js-userroledetail" href="#">
                                            <i class="fa fa-list"></i>
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                }

            </div>
        </div><div class="row"></div>
    </div>
</div>

<div class="text-center" style="margin-left:-450px">
    @Html.Partial("Pages", Model)
</div>
